
algvenv/

.env


legal_vector_db/
data/vector_db/
data/bm25_index.pkl

# 4. Các file Word tạm thời do MS Word sinh ra khi đang mở file (Lock files)
docs/~$*.docx
docs/~$*.doc
~$*.docx

# 5. Các file cache của Python (Sinh ra khi bạn chạy code)
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# 6. Metadata cấu hình cục bộ của công cụ đóng gói (Editable mode)
*.egg-info/
.eggs/